<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }}</td>
                <td> upperCase </td>
                <td> {{ nombre | uppercase}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> lowerCase </td>
                <td> {{ nombre | lowercase}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:3 </td>
                <td> {{ nombre | slice:3}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:0:3 </td>
                <td> {{ nombre | slice:0:3}} </td>
            </tr>
            <tr>
                <td> {{ lista }}</td>
                <td> slice:1:5 </td>
                <td> {{ lista | slice:1:5}} </td>
            </tr>
            <tr>
                <td> {{ numero }}</td>
                <td> number:3.2-4 </td>
                <td> {{ numero | number:'3.2-4'}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number:2.2-4 </td>
                <td> {{ PI | number:'2.2-4'}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number </td>
                <td> {{ PI | number}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number:3.0-0 </td>
                <td> {{ PI | number:'3.0-0'}} </td>
            </tr>
            <tr>
                <td> {{ porcion }}</td>
                <td> percent</td>
                <td> {{ porcion | percent }} </td>
            </tr>
            <tr>
                <td> {{ porcion }}</td>
                <td> percent:2.2-2</td>
                <td> {{ porcion | percent:'2.2-2'}} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency</td>
                <td> {{ moneda | currency }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR'</td>
                <td> {{ moneda | currency: 'EUR' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'code'</td>
                <td> {{ moneda | currency: 'EUR':'code' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'symbol':'4.0-0'</td>
                <td> {{ moneda | currency: 'EUR':'symbol':'4.0-0' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'symbol':'4.2-2':'es'</td>
                <td> {{ moneda | currency: 'EUR':'symbol':'4.2-2':'es' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> number:'.2-2'</td>
                <td> {{ moneda | number:'.2-2' }} </td>
            </tr>
        </tbody>
    </table>

    <br>
    <h1>Slice</h1>
    <hr>
    <ul>
        <li *ngFor="let item of lista | slice:5:20"> {{ item }} </li>
    </ul>

</div>