<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }}</td>
                <td> upperCase </td>
                <td> {{ nombre | uppercase}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> lowerCase </td>
                <td> {{ nombre | lowercase}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:3 </td>
                <td> {{ nombre | slice:3}} </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:0:3 </td>
                <td> {{ nombre | slice:0:3}} </td>
            </tr>
            <tr>
                <td> {{ lista }}</td>
                <td> slice:1:5 </td>
                <td> {{ lista | slice:1:5}} </td>
            </tr>
            <tr>
                <td> {{ numero }}</td>
                <td> number:3.2-4 </td>
                <td> {{ numero | number:'3.2-4'}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number:2.2-4 </td>
                <td> {{ PI | number:'2.2-4'}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number </td>
                <td> {{ PI | number}} </td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number:3.0-0 </td>
                <td> {{ PI | number:'3.0-0'}} </td>
            </tr>
            <tr>
                <td> {{ porcion }}</td>
                <td> percent</td>
                <td> {{ porcion | percent }} </td>
            </tr>
            <tr>
                <td> {{ porcion }}</td>
                <td> percent:2.2-2</td>
                <td> {{ porcion | percent:'2.2-2'}} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency</td>
                <td> {{ moneda | currency }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR'</td>
                <td> {{ moneda | currency: 'EUR' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'code'</td>
                <td> {{ moneda | currency: 'EUR':'code' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'symbol':'4.0-0'</td>
                <td> {{ moneda | currency: 'EUR':'symbol':'4.0-0' }} </td>
            </tr>
            <tr>
                <!-- Si se pone en app.module el provider providers: [{ provide: LOCALE_ID, useValue: 'es' } ],
                ya no haria falta poner el :'es', ya que por defecto saldría siempre en 'es'.-->
                <td> {{ moneda }}</td>
                <td> currency:'EUR':'symbol':'4.2-2':'es'</td>
                <td> {{ moneda | currency: 'EUR':'symbol':'4.2-2':'es' }} </td>
            </tr>
            <tr>
                <td> {{ moneda }}</td>
                <td> number:'.2-2'</td>
                <td> {{ moneda | number:'.2-2' }} </td>
            </tr>
            <tr>
                <td> {{ valorDePromesa }}</td>
                <td> promesa</td>
                <td> {{ valorDePromesa }} </td>
            </tr>
            <tr>
                <td> {{ valorDePromesa }}</td>
                <td> promesa | async</td>
                <td> {{ valorDePromesa | async }} </td>
            </tr>
            <tr>
                <td> {{ valorDePromesa }}</td>
                <td> promesa | json</td>
                <td> {{ valorDePromesa | async | json }} </td>
            </tr>
            <tr>
                <td> {{ fecha }}</td>
                <td> date </td>
                <td> {{ fecha | date }} </td>
            </tr>
            <tr>
                <td> {{ fecha }}</td>
                <td> date: 'medium' </td>
                <td> {{ fecha | date: 'medium' }} </td>
            </tr>
            <tr>
                <td> {{ fecha }}</td>
                <td> date: 'MMMM - dd' </td>
                <td> {{ fecha | date: 'MMMM - dd' }} </td>
            </tr>
            <tr>
                <td> {{ fullNombre }}</td>
                <td> capitalizado nada </td>
                <td> {{ fullNombre }} </td>
            </tr>

            <tr>
                <td> {{ fullNombre }}</td>
                <td> capitalizado </td>
                <td> {{ fullNombre | capitalizado}} </td>
            </tr>

            <tr>
                <td> {{ fullNombre }}</td>
                <td> capitalizado: false </td>
                <td> {{ fullNombre | capitalizado: false}} </td>
            </tr>

            <tr>
                <td> {{ nombre }}</td>
                <td> contrasena: {{ activar }}
                    <br><button (click)="activar = !activar" type="button" class="btn btn-outline-primary">
                        Activar/Desactivar
                    </button>
                </td>
                <td> {{ nombre | contrasena: activar}} </td>
            </tr>
        </tbody>
    </table>

    <br>
    <h1>Slice</h1>
    <hr>
    <ul>
        <li *ngFor="let item of lista | slice:5:20"> {{ item }} </li>
    </ul>

    <br>
    <h1>JSON</h1>
    <hr>
    <br> {{ heroe }} <br>
    <br> {{ heroe | json}} <br>
    <br> <pre>{{ heroe | json}} </pre>

    <br>
    <h1>Youtube <small>video</small></h1>
    <hr>
    <iframe width="560" height="315" [src]="video | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>


</div>